@import "tailwindcss";

@theme {
  --color-obsidian: #050505;
  --color-gold: #FFD700;
  --color-crimson: #DC143C;
  --animate-pulse-slow: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

body {
  background-color: var(--color-obsidian);
  color: white;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-obsidian);
}

::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-gold);
}

::selection {
  background: var(--color-gold);
  color: var(--color-obsidian);
}
